@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Inicio";
}

<div class="home">
    <h1>Bienvenido a StayHealthy</h1>
    <p>Tu salud es nuestra prioridad. Utiliza nuestra plataforma para reservar citas y dejar tus reseñas.</p>
</div>
